<h2>Active Surveys</h2>
<ul>
    <% surveys.forEach(function(survey) { %> 
    <li>
        <h2><%= survey.title %></h2>
        <p><%= survey.description %></p>
        <a href="/surveys/<%= survey.title + ' - ' + survey.description %>">View Survey</a>
        <a href="/surveys/edit/<%= survey.title + ' - ' + survey.description %>">Edit Survey</a>
    </li>
    <% }); %>
</ul>
<a href="/surveys">Back to Surveys</a>
